.App {
  text-align: center;
}

.circle-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 20px;
}

.circle-header {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.circle-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  color: white;
}

.blue {
  background-color: blue;
}
.pink {
  background-color: pink;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}

.selected {
  outline: 1px solid red;
  outline-offset: 2px;
}
